        </main>
        <footer>
            <hr> CST336 Internet Programming.
            <br /> 2019&copy; mikie Reed <br />
            <img src="img/csumb_logo.png" alt="CSUMB Logo" />
        </footer>
    </body>

</html>