        <hr />
        <nav>
            <a href="/" id="navHome">Home</a>
            <a href="/windows" id="navWindows">Windows</a>
            <a href="/mac" id="navMac">Mac OS</a>
            <a href="/linux" id="navLinux">Linux</a>
        </nav>
        <br />