        <hr />
        <nav>
            <a href="/index" id="current">Home</a>
            <a href="/windows">Windows</a>
            <a href="/mac">Mac OS</a>
            <a href="/linux">Linux</a>
        </nav>
        <br />