<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title> Operating Systems </title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1> Operating Systems </h1>
        </header>

        <% include partials/navigation %>

            <main>
                <figure>
                    <img src="img/motherboard.png" alt="Picture of a Motherboard" />
                </figure>
                <hr />
                <div>
                    <h2>What is an "Operating System"?</h2>
                    <p>The operating system is what runs a computer. It is the operating system that decides what happens, what runs, and what gets the resources.</p>
                    <a href="https://edu.gcfglobal.org/en/computerbasics/understanding-operating-systems/1/">*GCFGlobal</a>
                    <br />
                    <h2>What are the main Operating Systems?</h2>
                    <p>There are three main operating systems: Windows, Mac OS, and Linux.</p>
                </div>

                <% include partials/footer %>
