<% include partials/globalHeadInfo %>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#navHome").addClass("current");
        });
    </script>
    </head>

    <body>
        <header>
            <h1> Operating Systems </h1>
        </header>

        <% include partials/navigation %>

            <main>
                <figure>
                    <img src="img/motherboard.png" alt="Picture of a Motherboard" />
                </figure>
                <hr />
                <div>
                    <h2>What is an "Operating System"?</h2>
                    <p>The operating system is what runs a computer. It is the operating system that decides what happens, what runs, and what gets the resources.</p>
                    <a href="https://edu.gcfglobal.org/en/computerbasics/understanding-operating-systems/1/">*GCFGlobal</a>
                    <br />
                    <h2>What are the main Operating Systems?</h2>
                    <p>There are three main operating systems: Windows, Mac OS, and Linux.</p>
                </div>

                <div>
                    <h2> More Data </h2>
                    <p>
                        <%= fakeMultiParagraphData %>
                    </p>
                </div>

                <% include partials/footer %>
