<% include partials/globalHeadInfo %>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#navLinux").addClass("current");
        });
    </script>
    </head>

    <body>
        <header>
            <h1> Linux </h1>
        </header>

        <% include partials/navigation %>

            <main>
                <figure>
                    <img src="img/linux.png" alt="Picture of a Motherboard" />
                </figure>
                <hr />
                <div>
                    <h2>What company is behind Linux?</h2>
                    <p>Linux is an open-source operating system.</p>
                    <br />
                    <h2>Facts:</h2>
                    <ol>
                        <li>Linux is a favorite among hackers and people who like the freedom to whatever they would like.</li>
                        <li>Has no sort of fees or purchase.</li>
                        <li>Currently on version 5.3.8.</li>
                        <li><a href="https://www.linux.com/what-is-linux/">*Linux.com</a></li>
                    </ol>
                </div>
                <div>
                    <h2> More Data </h2>
                    <p>
                        <%= fakeParagraphData %>
                    </p>
                </div>

                <% include partials/footer %>
