<% include partials/globalHeadInfo %>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#navMac").addClass("current");
        });
    </script>
    </head>

    <body>
        <header>
            <h1> Mac OS </h1>
        </header>

        <% include partials/navigation %>

            <main>
                <figure>
                    <img src="img/apple.png" alt="Picture of a Motherboard" />
                </figure>
                <hr />
                <div>
                    <h2>What company is behind Mac OS?</h2>
                    <p>Mac OS was created, and is still run by Apple Corporation.
                    </p>
                    <br />
                    <h2>Facts:</h2>
                    <ol>
                        <li>This is the operating system for all Apple computers.
                        </li>
                        <li>Has an upfront fee to purchase the software, though it is usually hidden in the total cost of the computer.</li>
                        <li>Currently on version 10.15</li>
                        <li><a href="https://www.macworld.co.uk/news/mac-software/macos-catalina-3690189/">*Macworld</a></li>
                    </ol>

                    <div>
                        <h2> More Data </h2>
                        <p>
                            <%= fakeParagraphData %>
                        </p>
                    </div>

                    <% include partials/footer %>
