<% include partials/globalHeadInfo %>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#navWindows").addClass("current");
        });
    </script>
    </head>

    <body>
        <header>
            <h1> Windows </h1>
        </header>

        <% include partials/navigation %>

            <main>
                <figure>
                    <img src="img/windows.png" alt="Picture of a Motherboard" />
                </figure>
                <hr />
                <div>
                    <h2>What company is behind Windows?</h2>
                    <p>Windows was created, and is still run by Microsoft Corporation.
                    </p>
                    <br />
                    <h2>Facts:</h2>
                    <ol>
                        <li>The most widely known operating system among non-tech people.</li>
                        <li>Has an upfront fee to purchase the software.</li>
                        <li>Currently on version 10.</li>
                        <li><a href="https://en.wikipedia.org/wiki/Microsoft_Windows">*Wikipedia</a></li>
                    </ol>
                </div>

                <% include partials/footer %>
